.x55qv4lhb8m {

    a {
        color:white;
        text-decoration:none;
        display:inline-block;
    }
    
    .item {
        margin-right:5px;        
        padding:15px 3px;
        
        &:first-child {
            padding-left:20px;
        }
    }
    
    .count {
        font-size:11px;
        opacity:.5;
        position:relative;
        top:-15px;
    }
    
    .active {
        background:#666;        
    }
}

.x55qv4lhb8m-submenu {

    .submenu {
    
        padding:10px;
        background:#ccc;
        box-shadow:0px 10px 20px rgba(0,0,0,.1);
        margin-top:-10px;
        
        a {
            text-decoration:none;
            white-space:nowrap;
            color:black;
            &:hover {
                text-decoration:underline;
            }
        }
        
        .item {
            display:block;
        }
        
        border-radius:0px 10px 10px 10px;
    }

}