.pjs63jttpu {
    .item {
        padding-bottom:10px;
        
        .user {
            position:absolute;
            font-weight:bold;
            opacity:.7;
            left:0;
            top:0;
        }
        
        .date {
            position:absolute;
            font-size:10px;
            right:0;
            top:0;
            opacity:.5;
        }
        
    }
}