body{font-family:arial;font-size:13px;height:100%;}
a{color:#36367f}
.framed td{padding:5px; border:1px solid #ededed;}

.iizjmykhy6-container {
    padding:20px;
}

.iizjmykhy6-widget {
    display:inline-block;
    margin:0px 20px 20px 0px;
}

.iizjmykhy6-widget h2{
    font-size:16px;
    font-weight:normal;
}