.svn
/.htaccess
/robots.txt
/favicon.ico
/inx/build_id.txt

# Папки
/PHPExcel
/eshop/files
/file/preview
/tmp/render
/tmp/render-php
/mod/conf
/mod/service
/reflex/system

# Карты шаблонов тем
/tmp/themes
/inx/pub
/mod/trace

# Кэш в файловой системе
/mod/cache

# Информация о файлах, которые надо пропускать при построении карты сайта
/mod/exclude

# Папка для основной реализации сайта
/site

