.suxdi6tkea {

    .group {
        border:1px solid #ccc;
        padding:10px;
        margin-bottom:10px;
    }
    
    td {
        padding:5px;
        width:200px;
    }
    
    tr:nth-child(2n) td {
        background:#ededed;
    }

}