#raub2v07e-header {
    background:#333333;
    position:relative;
    width:100%;
}

#raub2v07e-header td {
    padding:5px;
    vertical-align:middle;
}

#raub2v07e-title {
    cursor:pointer;
    width:100%;
}

#raub2v07e-header * {
    color:white;
    white-space:nowrap;
}

#raub2v07e-item {
    cursor:pointer;
}