.dw92npeij81 {

	position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1000;
    overflow:auto;
    background:black;
    background:rgba(0,0,0,.7);
    
    .layout {
        background:white;
        position:absolute;
        display:none;
        overflow:hidden;
	}
	
	.big-image-container {
	    position:relative;
	}
	
    .close {
        position:fixed;
        right:30px;
        top:30px;
        width:28px;
        height:28px;
        background:url(/ndra/res/slideshow/close.png);
        cursor:pointer;
        opacity:.1;
        &:hover {
            opacity:1;
        }
	}
	
    .footer-spacer {
        position:absolute;
	}
	
	.roller-container {
	    background:#222;
	    display:none;
	}
	
	.loader {
	    position:absolute;
	    left:200px;
	    top:300px;
	}
	
	.content {
		margin:0 auto;
	}
	
	.content-left {
	    width:200px;
	    position:absolute;
	    left:0;
	    top:0;
	    background:gray;
	}
	
	.content-right {
	    width:20px;
	    position:absolute;
	    top:0;
	    right:0;
	    background:blue;
	}
	
	.content-top {
	    height:10px;
	    top:0;
	    position:absolute;
	    background:red;
	}
	
	.content-bottom {
	    height:50px;
	    position:absolute;
	    bottom:0;
	    background:green;
	}
	
	.prev {
	    background:url(/ndra/res/slideshow/prev.png) center no-repeat;
	    position:fixed;
	    cursor:pointer;
	    top:0;
	    opacity:.1;
	    display:none;
	}
	
	.next {
	    background:url(/ndra/res/slideshow/next.png) center no-repeat;
	    position:fixed;
	    cursor:pointer;
	    top:0;
	    opacity:.1;
	    display:none;
	}
}

.dw92npeij81-body {
	overflow:hidden!important;
}
