.tkkbt9zesp {

    position:relative;
    
    .date {
        font-size:10px;
        color:gray;
    }
    
    .workday {
        position:absolute;
        top:0px;
        left:32px * 9 + 33px;
        width:32px * 10;
        background:rgba(0,128,0,.5);
    }
    
    .now {
        position:absolute;
        top:0px;
        z-index:1;
        margin-top:-10px;
        padding-bottom:20px;
        width:1px;
        background:rgba(0,128,0);
    }
    
}