.x8367pvuga0 {
    
    td {
        padding:4px 10px;
    }
    
    tr:nth-child(2n) td {
        background:#ededed;
    }
    
    a {
        color:black;
        text-decoration:none;
        &:hover {
            text-decoration:underline;
        }
    }

}