.adij3jbap {
    width:100%;
}

.adij3jbap td {
    vertical-align:middle;
    padding:10px;
    border-bottom:1px solid #ededed;
    border-bottom:1px solid rgba(0,0,0,.2);
}

.adij3jbap-title{
    margin:0px 0px 5px 0px;
    font-size:1.4em;
}
