.guc488q7 {
    td {
        padding:0px;
    }
}

td.njliyjoc0c-label {
    padding-right:20px;
    vertical-align:middle;
    font-style:italic;
    opacity:.7;
    text-align:right;
}

div.njliyjoc0c-label {
    width:200px;
}
