.a3zfuls1et td{padding: 4px 10px 4px 0px; vertical-align:middle;}
.a3zfuls1et-preview {width:40px;height:40px;}

.tzwcdx9sv1{text-align:center;}
.tzwcdx9sv1-error{background:#ffeebb;color:red;}

.c2mx6de4t8{color:red;font-weight:bold;}
