.ml6lpfzt {

    margin-bottom:30px;

    td {
        border-bottom:1px solid #ccc;
        padding:10px;
    }
    
    .unlink {
    
        padding-left:50px;
        
        .button {
            cursor:pointer;
            color:red;
            font-weight:bold;
        }
    }

}