.kpgxmnmut2 {

    .billno {
        font-size:18px;
        margin-bottom:10px;
    }

    .info {
        margin-bottom:20px;
    }
    
    .confirm {
        margin-bottom:20px;
    }
    
    form {
        display:inline;
    }

}