.sr3yrzht3j {

    color:white;
    padding:5px;
    background:#333;
    
    a {
        color:white;
        text-decoration:none;
    }
    
    .item {
        margin-right:5px;
    }
    
    .count {
        font-size:11px;
        opacity:.5;
        position:relative;
        top:-5px;
    }
    
    .active {
        background:#666;
        padding:5px;
    }
}

.sr3yrzht3j-submenu {

    .submenu {
    
        padding:10px;
        background:#ccc;
        box-shadow:0px 10px 20px rgba(0,0,0,.1);
        
        a {
            text-decoration:none;
            white-space:nowrap;
            color:black;
            &:hover {
                text-decoration:underline;
            }
        }
        
        .item {
            display:block;
        }
        
        border-radius:0px 10px 10px 10px;
    }

}